@use "@/styles/_variables" as var;
@use "@/styles/functions" as *;

.text-box {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: get-space("xl");

  .text {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
  }

  .admin {
    display: flex;
    align-items: center;
    gap: get-space("sm");
    color: var.$primary-accent;

    .admin-end {
      font-size: 1.5rem;
      font-family: "Caveat", cursive;
      cursor: pointer;
      color: var.$primary-accent;
      text-decoration: none;

      &:hover {
        color: var.$primary;
        text-decoration: underline;
      }
    }
  }
}
