@use "@/styles/variables" as var;
@use "@/styles/functions" as *;

.hero-section {
  position: relative;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid var.$border-hover;
  z-index: 1000;
  position: relative;

  background-image: url("/images/gradient_image_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
