@use "@/styles/variables" as var;
@use "@/styles/functions" as *;

.footer {
    width: 100vw;
    height: auto;
    padding: get-space("4xl") 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var.$border-hover;
    // background-color: red;

    p {
        font-size: 1.1rem;
        font-weight: 500;

        span {
            color: var.$primary-accent;
        }
    }
}