@use "./variables" as *;
@use "./functions" as *;

:root {
  font-family: "Google Sans Flex", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $secondary;
  color: $primary;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

// Change the color of user selected text.
::selection {
  background-color: #fff;
  color: #000;
}

::-moz-selection {
  background-color: #fff;
  color: #000;
}

// Hide scrollbar for Chrome, Edge, Safari
*::-webkit-scrollbar {
  display: none;
}

// Hide scrollbar for Firefox
* {
  scrollbar-width: none;
}

// Hide scrollbar for IE / old Edge
* {
  -ms-overflow-style: none;
}
