@use "@/styles/variables" as var;
@use "@/styles/functions" as *;

.card-container {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid var.$border-hover;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: get-space("md");

  .card-image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;

    .card-img {
      width: 100%;
      height: auto;
      scale: 1.05;
    }
  }

  .card-details {
    width: 100%;
    height: auto;
    padding: get-space("lg");
    background-color: var.$secondary-accent;
    display: flex;
    flex-direction: column;
    gap: get-space("sm");

    .card-title {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .card-description,
    .card-admin {
      font-size: 0.8rem;
      color: var.$primary-accent;
    }
  }
}
