@use "@/styles/variables" as var;
@use "@/styles/functions" as *;

.content-section {
  width: 100vw;
  height: auto;
  padding: get-space("xl") 14rem;

  .content-container {
    width: 100%;
    height: auto;
    columns: 300px;
  }
}
